set -e
set -u

APPLICATION_NAME="decap"
AWS_REGION=${AWS_REGION:-us-west-1}
AWS_PROFILE=${AWS_PROFILE:-decapadmin}

function check() {
   local result

   type jq 2>&1 > /dev/null
   if [ $? -ne 0 ]; then
	echo "jq must be installed to proceed.  See https://github.com/stedolan/jq/wiki/Installation."
        exit -1
   fi

   result=$(aws --profile $AWS_PROFILE iam get-user 2>&1 > /dev/null)
   if [ $? -ne 0 ]; then
	echo "The profile $AWS_PROFILE either does not exist or cannot perform basic functions: $result"
        exit -1
   fi
}
